* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #dfdcdc;
    font-family: Arial, sans-serif;
}


.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #dfdcdc;
    color: #18c1f5;
}

.cabecera .logo p strong {
    color: #666;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
    margin-left: 120px;
}

.logo p {
    font-size: 20px;
}


.menu ul {
    list-style: none;
    display: flex;
    margin-right: 150px;
}

.menu ul li a {
color: #666;
}

.menu ul li a:hover{
    color: #18c1f5;
}

.menu li {
    margin-right: 40px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


.inicio {
    text-align: left    ;
    padding: 100px;
    margin-left: 50px;
    color: #666;
}

.inicio h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    font-weight: bold;
}

.inicio h2 {
    font-size: 25px;
    color: #666;
    font-weight: bold;
}

.inicio span {
    color: #18c1f5;
}


.botones button {
    background-color: #18c1f5;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    margin-top: 175px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    font-size: 20px;
}

.botones button:hover {
    background-color: #0056b3;
}


.dudas {
    margin-right: 10px;
}


.info {
    margin-left: 10px;
}
