* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background: #dfdcdc;
    font-family: Arial, sans-serif;
}


.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #dfdcdc;
    color: #18c1f5;
}

.cabecera .logo p strong {
    color: #666;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
    margin-left: 100px;
}

.logo p {
    font-size: 20px;
}


.menu ul {
    list-style: none;
    display: flex;
    margin-right: 150px;
}

.menu ul li a {
color: #666;
}

.menu ul li a:hover{
    color: #18c1f5;
}

.menu li {
    margin-right: 40px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


.inicio {
    text-align: left    ;
    padding: 137px;
    color: #666;
}

.inicio h1 {
    font-size: 60px;
    font-weight: bold;
    
}

.inicio h2 {
    font-size: 30px;
    color: #666;
    font-weight: bold;
}

.inicio span {
    color: #18c1f5;
}


.botones button {
    background-color: #18c1f5;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    margin-top: 150px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    font-size: 20px;
}

.botones button:hover {
    background-color: #0056b3;
}

.seccion_cursos{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}

.seccion_cursos h1{
    width: 100%;
    justify-content: start;
    font-size: 50px;
    font-weight: bold;
    padding: 100px 0;
    color: #666;
    margin-top: 100px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(4,250px);
    gap: 20px;
    margin-bottom: 500px;
}

.card{
    display: flex;
    align-items: end;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px;
    font-size: 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.card:nth-child(1){
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(img/TÉCNICO\ SUPERIOR\ EN\ DESARROLLO\ DE\ APLICACIONES\ MULTIPLATAFORMA.png);
    background-size: cover;
}

.card:nth-child(2){
    grid-row: span 2;
    background-image: url(img/TÉCNICO\ SUPERIOR\ EN\ INTEGRACIÓN\ SOCIAL.png);
    background-size: cover;
}

.card:nth-child(3){
    grid-column: span 2;
    background-image: url(img/TÉCNICO\ SUPERIOR\ EN\ ADMINISTRACIÓN\ Y\ FINANZAS.png);
    background-size: cover;
}

.card:nth-child(4){
    background-image: url(img/TÉCNICO\ SUPERIOR\ EN\ EDUCACIÓN\ INFANTIL.png);
    background-size: cover;
}

.card:nth-child(5){
    background-image: url(img/TÉCNICO\ SUPERIOR\ EN\ ACONDICIONAMIENTO\ FÍSICO.png);
    background-size: cover;
}

.card:nth-child(6){
    grid-column: span 2;
    background-image: url(img/TÉCNICO\ SUPERIOR\ EN\ DIRECCIÓN\ DE\ COCINA.png);
    background-size: cover;

}

.footer {
    background: #dfdcdc;
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #666;
}

.lista {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 10px;
    flex-wrap: wrap;
}

.lista-elem {
    list-style: none;
    margin: 5px 10px;
}



